@font-face {
  font-family: 'Kraftstoff';
  src: url("../fonts/Kraftstoff-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothicNextLTPro-Bd.otf") format("opentype");
  font-weight: bold;
  font-style: normal; 
}
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothicNextLTPro-Hv.otf") format("opentype");
  font-weight: bolder;
  font-style: normal; 
}
@font-face {
  font-family: 'TradeGothic-CM';
  src: url("../fonts/TradeGothicNextLTPro-HvCm.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic-CN';
  src: url("../fonts/TradeGothicNextLTPro-HvCn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}