$orange: 	#e94429;
$red:			#df1944;
$red-pink:	#e61d4c;
$pink-red:	#e71d4d;
$blue:		#0195a3;

body {  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  -webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.wrap-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05)), url(../img/laughing-girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  width: 100%;
  height: 850px; 
}

.wrap-hero {
  position: relative;
  h1 {
    color: white;
    span {
      display: block;
    }
    .line-one {
      font-family: "Kraftstoff";
      font-size: 90px;
    }
    .line-two {
      font-size: 144px;
    }
  }
}

.the-wave {
  display: block;
  position: absolute;
  bottom:0;
  right: 0;
  width: 100%;
  height: 150px;
  background-image: url(../img/do-the-wave.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.pink-skew {
  font-family: "Kraftstoff";
  background: url(../img/pink-back.png) no-repeat;
  padding-top: 10px;
  color: #fff;
  height: 67px !important;
  width: 380px !important;
  display: block;
  text-align: center;
  font-size: 30px;
  img {
    margin-left: 15px;
    -webkit-transition: all .25s; /* Safari */
    transition: all .25s;
  }
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    img {
      opacity: 0.75;
    }
  }
}

#fruity-features {
	position: relative;
	.floating-fruit {
		position: absolute;
		z-index: -1;
	}
}
#pineapple {
	right: 0;
	top: -150px;
}
#fig {
	left: 0;
	top: 150px;
}
#apple {
	right: 0;
	top: 550px;
}
#coconut {
	left: 0;
	top: 600px;
}

#no-sugar {
  position: relative;
  display: inline-block;
	span {
	  display: block;  
	  color: $red;
	}
  .line-one {
    font-family: "Kraftstoff";
    font-size: 50px;
  }
  .line-two {
    font-size: 121px;
  }
}
#greenline1 {
	position: relative;
	display: inline-block;
	margin-top: 60px;
}

#organic-fruit {
  position: relative;
	span {
	  display: block;  
	  color: $orange;
	}
  .line-one {
    font-family: "Kraftstoff";
    font-size: 50px;
  }
  .line-two {
    font-size: 121px;
  }  
}
#greenline2 {
	margin: 0 auto;
	display: block;
}

#supersnacks {
  position: relative;
	span {
	  display: block;  
	  color: $blue;
	}
  .line-one {
    font-size: 121px;
    width: 100%;
    text-align: center;
  }
  .scribble {
	  float: right;
	  margin-right: 160px;
	  margin-top: -30px;
  }
}
#greenline3 {
	margin: 0 auto;
	display: block;
}

#pink-wrap {
  background: linear-gradient($red-pink,$pink-red);
}
.snackitem {
	display:block;
	background-repeat: no-repeat !important;
	overflow: visible !important;
	font-family: "TradeGothic-CN";
	text-transform: uppercase;
	text-align: center;
	line-height: 1.1;
	font-size: 30px;
	width: 100%;
	height: 345px;
	color: #fff;	
	padding-top: 275px;
}
#figgypops {
	background: url(../img/products/figgypops.png);	
	background-position: center 0 !important;
	&:hover {
		background: url(../img/products/figgypops-hover.png);	
	background-position: center 0 !important;
	}
}
#fruitnut {
	background: url(../img/products/fruitnut.png);	
	background-position: center 5px !important;
	&:hover {
		background: url(../img/products/fruitnut-hover.png);	
		background-position: center 5px !important;
	}
}
#driedfruit {
	background: url(../img/products/mangos.png);	
	background-position: center 5px !important;
	&:hover {
		background: url(../img/products/mangos-hover.png);	
		background-position: center 5px !important;
	}
}
#coconutchips {
	background: url(../img/products/coconutchips.png);	
	background-position: center 5px !important;
	&:hover {
		background: url(../img/products/coconutchips-hover.png);	
		background-position: center 5px !important;
	}
}
#kalechips {
	background: url(../img/products/kale-chips.png);	
	background-position: center 5px !important;
	&:hover {
		background: url(../img/products/kale-chips-hover.png);	
		background-position: center 5px !important;
	}
}
#ancientgrains {
	background: url(../img/products/ancient.png);	
	background-position: center 5px !important;
	&:hover {
		background: url(../img/products/ancient-hover.png);	
		background-position: center 5px !important;
	}
}














