.navbar-brand {
  margin: 0;
  padding: 0 !important;
}
.navbar{
  background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
  border: none;
}
.navbar-nav {
  padding-top: 40px;
  a:link, a:visited {
    font-family: "TradeGothic-CN";
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    margin-right: 17px;
  }
  a:hover {
    background: rgba(255,255,255,0);
    color: rgba(232,32,78,1);
  }
}
#cart-icon {
  padding-right: 0;
  a:link, a:visited {
    padding-right: 0;
    margin-right: 0;
  }
  &:hover {
    background: none !important;
    opacity: 0.5;
    filter: alpha(opacity=50); 
  }
  img {
    height: 20px;
  }
}
